* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-header {
  padding: 5px 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid #000;
  margin: 5px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;
}

.date-container {
  padding: 5px;
  text-align: right;
}

.menu-item {
  cursor: pointer;
  padding: 3px;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.main-header {
  text-align: center;
  margin: 30px 0;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  margin: 5px;
  margin-bottom: 50px;
}

.book-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.book-item button {
  height: 1.5rem;
  margin-right: 8px;
}

.book-item p {
  margin: 8px;
}

.book-form {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact_details {
  padding: 10px;
}

.contact_details p {
  margin: 20px 0;
}

.dark-bg {
  background-color: rgb(233, 233, 233);
}

.hr-line {
  width: 100px;
  margin: 0 auto;
  height: 2px;
  background-color: #000;
}

#add_book {
  align-self: flex-end;
}

.form_header {
  text-align: center;
  padding: 20px 0;
  min-width: 100px;
}

.input_item {
  width: 100%;
}

.contact-section {
  display: none;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.contact-section h2 {
  padding: 10px;
}

footer {
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #000;
  justify-self: end;
}
